#console-wrapper{
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    box-shadow: 0 -1px 10px #ccc;
}
#body-wrapper{
    height: 100%;
    border-bottom: 300px solid transparent;
    box-sizing: border-box;
}
#main-container{
    height:100%;
}

#body-wrapper #wrap{
    position:relative;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right:-8px;
    margin-top: -17px;
    padding:17px 0;
    box-sizing: content-box;
}