#bodyPart,.left-panel-body{
    height:100%;
}
#bodyPart{
    background-color: #eeeded;
}
.marketplace-main ul{
    list-style: none;
    margin:0;
    padding:15px 0 0 0;
}
section.nav-panel{
    width: 100px;
    float: left;
    margin: 0;
    padding: 10px 0 0 0;
}

section.left-panel{
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    width: 320px;
    position:relative;
    float:left;
}

section.main-panel{
    overflow: hidden;
    position: relative;
    height: 100%;
}

section.left-panel .left-panel-body .fullwidth-box-top{
    box-sizing: content-box;
    z-index: 1;
    min-height: 36px;
    position: absolute;
    width: 100%;
    min-height: 36px;
    background-color: #e6e6e6;
}
.marketplace-body .fullwidth-box-top > h2 {
    color: #222;
    float: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin: 6px 0 5px 5px;
}
.fullwidth-box-top{
    box-sizing: content-box;
    z-index: 1;
    min-height: 36px;
    position: absolute;
    width: 100%;
    min-height: 36px;
}
.top-content {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index:1;
}
div.marketplace-main{
    height:100%;
    border-top: 36px solid transparent;
}
.left-panel-categories,.left-panel-region{
    position: relative;
    border: 1px solid #d1d1d1;
    overflow: hidden;
}
.category-list,.region-list{
    
}
.region-body,.categories-body{
    position: relative;
    border-top: 36px solid transparent;
    height: 100%;
}

input.styled-checkbox{
    position:absolute;
    opacity:0;
    z-index: 1;
    width: 20px;
    height: 20px;
}
input.styled-checkbox + span{
    position: relative;
}
input.styled-checkbox + span:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 2px;
    border: 2px solid rgba(0,0,0,0.54);
}

input.styled-checkbox:checked + span:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: rgba(0,0,0,0.54);
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 rgba(0,0,0,0.54),
      4px 0 0 rgba(0,0,0,0.54),
      4px -2px 0 rgba(0,0,0,0.54),
      4px -4px 0 rgba(0,0,0,0.54),
      4px -6px 0 rgba(0,0,0,0.54),
      4px -8px 0 rgba(0,0,0,0.54);
    transform: rotate(45deg);
}

.search-btn{
    padding: 2px 3px;
    margin: 0px 7px 0 0;
    color: #666;
    float: right;
}
ul.check-box-list li{
    padding: 5px 10px;
}

.top-content h6{
    margin: 0;
    padding: 7px 10px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;
}
.left-panel-region{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}
.left-panel-categories{
    height: 100%;
    border-bottom: 200px solid #fff;
}
.scroller{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -12px;
    margin-top: -17px;
    padding: 17px 0;
    box-sizing: content-box;
    background-color: #fff;
}
.scroller-outer{
    height: 100%;
    position: relative;
    border-top: 30px solid transparent;
}
.marketplace-body .marketplace-header h2{
    margin-left : 105px;
    color:#fff;
}
.main-panel-container{
    padding-left: 5px;
    height : 100%;
}
.main-panel-body{
    border-top: 36px solid transparent;
    height: 100%;
}
.fullwidth-box-top{
    box-sizing: content-box;
    z-index: 1;
    min-height: 36px;
    position: absolute;
    width: 100%;
    min-height: 36px;
    background-color: #e6e6e6;
}
.top-content.main-panel-search{
    width:30%;
    margin-top: 3px;
}
.sortable{
    margin:3px 10px 0 0;
}
.header-items{
    background-color: #fff;
    height: 30px;
}
.settings-btn{
padding: 3px 10px;    
}
.settings-dropdownmenu{
    left:auto !important;
    right:0 !important;
    padding: 5px 10px;
    
}
.sort-wrapper{
    padding: 3px 10px;
}
.settings-menu-item{
    white-space:nowrap;
    margin-right: 10px;
}
#optshow,#customize-dropdown{
    padding:0 10px;
}
.settings-last-item{
    margin-right:0px;
}
.dropdown-menu.show{
    display:flex !important;
}
.settings-dropdownmenu a{
    color:#000;
}
.view-grid,.resize-view{
    margin-left:5px;
}