<div class="marketplace-body" id="bodyPart">
  <div class="marketplace-main">
    <section class="nav-panel sidebar-nav left">
      <div class="nav-panel-body left-nav-blocks">
        <ul>
          <li>
            <a href="javascript:void(0);" id="sidenav-files-incomplete" class="arrow_box number">
              <i class="fa fa-circle-thin i-36" aria-hidden="true"></i>
              <span title="Total: 75">75</span>
              <span>Vendors</span>
            </a>
            <a href="javascript:void(0);" id="sidenav-files-incomplete" class="arrow_box number">
              <i class="fa fa-circle-thin i-36" aria-hidden="true"></i>
              <span title="Total: 75">75</span>
              <span>Opportunities</span>
            </a>
            <a href="javascript:void(0);" id="sidenav-files-incomplete" class="arrow_box number">
              <i class="fa fa-circle-thin i-36" aria-hidden="true"></i>
              <span title="Total: 75">75</span>
              <span>Products</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="left-panel">
      <div class="fullwidth-box-top clearfix">
        <h2>Vendors (showing 1-15 of 127)</h2>
      </div>
      <div class="left-panel-body">
        <div class="left-panel-categories">
          <div class="fullwidth-box-top clearfix">
            <h2>Categories</h2>
          </div>
          <div class="categories-body">

            <div class="top-content">
              <a class="search-btn" href="javascript:void(0)" title="Search...">
                <i class="fa fa-search">X</i>
              </a>
              <!-- <div class="search-container">
                  <a class="close-search" href="javascript:void(0)">
                    <i class="fa fa-close"></i>
                  </a>
                  <div>
                    <input type="text" placeholder="Search..." class="ng-untouched ng-pristine ng-valid">
                  </div>
                </div> -->
              <h6 title="Search...">Search Categories</h6>
            </div>
            <div class="scroller-outer">

              <div class="scroller">

                <div class="category-list">
                  <ul class="check-box-list">
                    <li>
                      <div>
                        <input type="checkbox" class="styled-checkbox">
                        <span>Australia</span>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="checkbox" class="styled-checkbox">
                        <span>Europe</span>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="checkbox" class="styled-checkbox">
                        <span>United States</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-panel-region">
          <div class="fullwidth-box-top clearfix">
            <h2>Regions</h2>
          </div>
          <div class="region-body">
            <div class="top-content">
              <a class="search-btn" href="javascript:void(0)" title="Search...">
                <i class="fa fa-search">X</i>
              </a>
              <!-- <div class="search-container">
                  <a class="close-search" href="javascript:void(0)">
                    <i class="fa fa-close"></i>
                  </a>
                  <div>
                    <input type="text" placeholder="Search..." class="ng-untouched ng-pristine ng-valid">
                  </div>
                </div> -->
              <h6 title="Search...">Search Regions</h6>

            </div>
            <div class="scroller-outer">
              <div class="scroller">

                <div class="region-list">
                  <ul class="check-box-list">
                    <li>
                      <div>
                        <input type="checkbox" class="styled-checkbox">
                        <span>Australia</span>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="checkbox" class="styled-checkbox">
                        <span>Europe</span>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="checkbox" class="styled-checkbox">
                        <span>United States</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="main-panel">

    </section>
  </div>
</div>